<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>List user</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav>
    <div th:insert="partials/navbar"></div>
</nav>
<a class="btn alert-primary" th:href="@{/user/create}">Create new user</a>

<!--<form>
  Search by full name:
  <input name="search" type="text"/>
  <input type="submit" value="Search"/>
</form>-->

<div class="row">
    <div class="col-12">
        <table border="1">
            <tr>
                <th scope="col" class="col-1">FullName</th>
                <th scope="col" class="col-1">Username</th>
                <th scope="col" class="col-1">Email</th>
                <th scope="col" class="col-1">Phone</th>
                <th scope="col" class="col-1">Address</th>
                <th scope="col" class="col-1">Avatar</th>
                <th scope="col" class="col-1">Activated</th>
                <th scope="col" class="col-1">Role</th>

                <th scope="col" class="col-2">Actions</th>
            </tr>
            <th:block th:each="userDto : ${userDtos}">
                <tr>
                    <td th:text="${userDto.fullName}"></td>
                    <td th:text="${userDto.username}"></td>
                    <td th:text="${userDto.email}"></td>
                    <td th:text="${userDto.phone}"></td>
                    <td th:text="${userDto.address}"></td>
                    <td th:text="${userDto.avatar}"></td>
                    <td th:text="${userDto.activated}"></td>
                    <td th:text="${userDto.role.desc}"></td>
                    <td>
                        <a type="button" class="btn btn-success text-light" th:href="@{/user/edit/__${userDto.id}__ }">Edit</a>
                        <a type="button" class="btn btn-danger text-light" th:href="@{/user/delete/__${userDto.id}__ }">Delete</a>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>
</div>

<!--<div>-->
<!--    <a th:href="@{'/user/list'(page=${userDtos.number - 1})}" th:if="${userDtos.hasPrevious()}">Previous</a>-->
<!--    <span th:text="${userDtos.number + 1}"></span>/<span th:text="${userDtos.totalPages}"></span>-->
<!--    <a th:href="@{'/user/list'(page=${userDtos.number + 1})}" th:if="${userDtos.hasNext()}">Next</a>-->
<!--</div>-->
</body>
</html>
