<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>List categories</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav>
    <div th:replace="partials/navbar"></div>
</nav>

<a class="btn alert-primary" href="/category/create">Create new category</a>

<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <tr>
                <th scope="col" class="col-1">Id</th>
                <th scope="col" class="col-1">Name</th>
                <th scope="col" class="col-1">Actions</th>

            </tr>
            <th:block th:each="cat: ${categories}">
                <tr>
                    <td th:text="${cat.id}"></td>
                    <td th:text="${cat.name}"></td>
                    <td>
                        <a type="button" class="btn btn-primary text-light" th:href="@{/category/view/__${cat.id}__}">view</a>
                        <a type="button" class="btn btn-success text-light" th:href="@{/category/edit/__${cat.id}__}">Edit</a>
                        <a type="button" class="btn btn-danger text-light" th:href="@{/category/delete/__${cat.id}__}">Delete</a>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>
</div>

</body>
</html>