<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav>
    <div th:replace="partials/navbar"></div>
</nav>

<div sec:authorize="isAuthenticated()">
    <div sec:authorize="hasRole('ADMIN')" class="d-flex flex-column my-5">
        <div class="my-5">
            <div class="my-5">
                <div class="my-5">
                    <div class="row h-100">
                        <div class="col-sm-12 align-self-center">
                            <div class="card card-block w-25 mx-auto">
                                <a class="btn btn-outline-primary p-2 my-1" style="height: 70px; line-height: 55px; text-align: center;" th:href="@{/product/list}">Products list</a>
                                <a class="btn btn-outline-success p-2 my-1" style="height: 70px; line-height: 55px; text-align: center;" th:href="@{/category/list}">Category list</a>
                                <a class="btn btn-outline-warning p-2 my-1" style="height: 70px; line-height: 55px; text-align: center;" th:href="@{/role/list}">Roles list</a>
                                <a class="btn btn-outline-info p-2 v" style="height: 70px; line-height: 55px; text-align: center;" th:href="@{/user/list}">User list</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div sec:authorize="hasRole('USER')" class="d-flex flex-column my-5">
        <div class="my-5">
            <div class="my-5">
                <div class="my-5">
                    <div class="row h-100">
                        <div class="col-sm-12 align-self-center">
                            <div class="card card-block w-25 mx-auto">
                                <a class="btn btn-outline-primary p-2" style="height: 70px; line-height: 55px; text-align: center;" th:href="@{/product/list}">Products list</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    <div sec:authorize="hasRole('USER')" class="d-flex flex-column">-->
    <!--        <a class="btn btn-outline-primary col-1 p-2" th:href="@{/product/list}">Products list</a>-->
    <!--    </div>-->
</div>


</body>
</html>