<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Edit Role</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav>
  <div th:replace="partials/navbar"></div>
</nav>
<h1>Edit Role</h1>
<p>
  <a th:href="@{/role/list}">Role list</a>
</p>
<th:block th:if="${message}">
  <p th:text="${message}"
     style="color:lightgreen;margin:10px 0px;"></p>
</th:block>
<form th:action="@{/role/edit}" th:object="${roleDto}" method="post">
  <input th:type="hidden" name="id" th:field="*{id}">
  <table>
    <tr>
      <td>Description:</td>
      <td><input type="text" th:field="*{desc}"/></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><input type="text" th:field="*{name}"/></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Update Role"></td>
    </tr>
  </table>
</form>
</body>
</html>
